/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */
:root {
    --my-main-color: #001e3d; /* Основен цвят */
    --my-secondary-color: #262438; /* Вторичен цвят */
    --my-secondary-two-color: #16151f; /* Вторичен цвят */
    --my-accent-color: #ff9800; /* Акцент */
    --my-three-color:#360069;
    --my-three-color-hover:#7a00ec;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color: white;
    line-height: 1.5em;
    background-color: var(--my-secondary-color);
    font-family:  "Roboto", sans-serif;
}
button {
    background-color: var(--my-three-color); /* Зелен цвят */
    color: #ffffff; /* Бял текст */
    border: none;
    padding: 0.5em 1em;
    border-radius: 1rem; /* Заоблени ръбове */
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Анимация */
    text-decoration: none;
    display: inline-block;
  }

  /* Ефект при задържане с мишката */
  button:hover {
    background-color: var(--my-three-color-hover); 
    transform: scale(1.05); /* Леко увеличение */
  }

  /* Ефект при натискане */
  button:active {
    transform: scale(0.95); /* Леко свиване */
  }
  .heading{
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
    margin-top: 1rem;
    margin-bottom: 1em; 
    color:white;
    
    text-shadow: 0 0 0.5em rgba(185, 8, 255, 0.685);
    font-size: 2.8em;
}


header{ 
    position: relative;
    height: 17vh;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--my-main-color);
    box-shadow: 0 0 6px 2px black;
    
}

.view_header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.view_header_logo img{
    max-width: 10vw;
    max-height: 15vh;
    border-radius: 50%;
}
/*nav sidebar*/
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}
#nav-menu{
  font-size:2em;
}
.sidebar-ul{
   list-style: none;
   display: flex;
   flex-direction: column;
}
.sidebar li{
  height: 10vh;
  width: 100%;
}
.sidebar-ul li a{
  color: black;
  width: 100%;
  height: 100% ;
  padding: 0 1rem;
  display: flex;
}
.menu-button{
  display: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1.3rem;
}

.good-a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    position: relative;
    padding-bottom: 0.5em;
    transition: 0.3s ease;
    text-align: center;
}
.good-a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Default line color */
    transition: width 0.3s ease, background-color 0.3s ease; /* Smooth transition for color change */
}
.good-a:hover{
    color: rgb(123, 123, 255);
}
.good-a:hover::after {
    width: 100%;
    background:linear-gradient(to right, white, rgb(123, 123, 255), blue);
}
span .good-a{
  text-decoration: none;
    font-size: 1.3rem;
    color: white;
    background-color: var(--my-three-color);
    padding: 0.5em 1em;
    border-radius: 5px; /* Заоблени ръбове */
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Анимация */
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}
span .good-a:hover {
  color: rgba(255, 255, 255, 0.829);
  background-color: var(--my-three-color-hover); 
  transform: scale(1.05); /* Леко увеличение */
}

/* Ефект при натискане */
span .good-a:active {
  transform: scale(0.95); /* Леко свиване */
}


.social_header_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#icons{
    font-size: 2.5rem;
}
.home_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    padding-top:2em;
}
.home_info img{
width: 50vw;
border-radius: 10%;
}
.home_info h2{
    font-size: 1.5rem;
    line-height: 1.4em;
    text-align: justify;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
}
/*DINAMICEN BORDER*/


.card{
    width: 98vw;
    gap: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    gap: 1rem;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }


.card img{
  width: 40vw;
  height: 60vh;
}
.card h2{
  width: 50vw;
}
/*CRAQ NA DINAMICNIQ BORDER*/



/* CARTI*/
.card-container{
    background-color: var(--my-secondary-two-color);
    padding-bottom: 10px;
}
.container{
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 3em;

}


.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap:2em;
}

.container .box-container .box{
    box-shadow: 0 0 0.8em 0.5rem rgba(185, 8, 255, 0.685);
    border-radius: 5px;
    text-align: center;
    padding:30px 20px;
    transition: 0.4s all ease-out;
    background-color: #ffffff;
     border: 1px solid #e0e0e0;
     color: #0056b3;
}

.container .box-container .box img{
    height: 80px;
}
.container .box-container .box  i {
    font-size: 4rem;
}

.container .box-container .box h3{
    color: #0056b3;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    background:var(--my-three-color);
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.btn a{
    text-decoration: none;
    color:#f5f5f5;
}

.container .box-container .box:hover{
    box-shadow: 0 0 1em 0.7em rgb(185, 8, 255);
    transform: scale(1.03);
    /* border: 3px solid var(--my-three-color-hover); */
}
/*______________________________*/

/*CONTACT*/

form{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0 auto;

}
form label{
    margin-bottom: 0.3em;
    font-size: 1.2em;
    line-height: 1.5em;
    color: white;
}
form input{
    line-height: 1.5em;
    padding: 0.3em;
    font-size: 1rem;
    width: 30vw;
    border-radius: 10em;
    border: 3px solid var(--my-three-color);
    background-color: #171435;
    color: white ;
}
form textarea{
    width: 50vw;
    height: 10vh;
    padding: 0.5em;
    border-radius: 1rem;
    border: 3px solid var(--my-three-color);
    color: black;
}
.form-btn{
    width: 50vw;
    padding: 1em;
    font-size: 1rem;
    cursor: pointer;
    margin: 1em 0;
    background-color: var(--my-three-color);
    border: none;
    border-radius: 10px;
    color: #f5f5f5;
}

.form-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}
.form-furs-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-last-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-email-number{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.form-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.form-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*FOOOOTEEEERRRRR*/

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #19182546;
  background: #2a283b;
  padding: 1rem;
  margin-top: 20vh;
}
footer ul{
  list-style: none;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: rgba(255, 255, 255, 0.671);
  text-decoration-line:underline 1px ;
}
.info_footer{
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items:start;
  flex-direction: column;
  gap: 1rem;
}
.info_footer img{
  max-width: 10vw;
  max-height: 15vh;
  border-radius: 50%;
}
.contacts_footer{
  display: flex;
  align-items: flex-start;
  justify-content: right;
  width: 30vw;
}
.contacts_footer h3{
  text-align: center;
  padding-bottom: 1rem;
}
.social_footer_icon{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
}
.pup {
  font-size: 2em;
  transition: 0.3s ease;
}
.pup:hover {
  color: var(--my-three-color-hover);
  transform: scale(1.10); /* Леко увеличение */
}

/* Ефект при натискане */
.pup:active {
  transform: scale(0.80); /* Леко свиване */
  
}
.END{
  background: #2a283b;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1rem;
}





@media (max-width:768px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .container{
        padding:20px;
    }
    .container .box-container {
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
  }
}
@media (max-width:550px){
    .card{
    flex-direction: column;
  }
}
@media (max-width:425px){
  .sidebar{
    width: 100vw;
  }
  .card img{
    width: 70vw;
    height: 40vh;
  }
  .card h2{
    text-align: left;
  }
  .form-name,.form-email-number{
    flex-direction: column;
    width: 50vw;
  }
  .form-name input,.form-email-number input{
    width: 60vw;
  }
  form textarea{
    width: 60vw;
    height: 30vh;
  }
}

.modal, .modal-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content,.modal-content-2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: black;
  background: #fff;
  padding: 1.5em;
  border-radius: 1rem;
  width: 90vw;
  max-width: 60vw;
  text-align: center;
  position: relative;
}

.close,.close-2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
